/* CSS de la page 'Automatisme' */

.automatisme{
    .contenu-automatisme{
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        .automatisme-card{

            /* Image de la page 'Automatisme' */

            #automatisme-image{
                padding: 1% 10%;
                margin: 0.1% 0;
                background: #E9E8E9;
                display: flex;
                @media (max-width: 991.98px){
                    padding: 5% 0;
                }
                img{
                    width: 15%;
                    height: auto;
                    @media (max-width: 767.98px){
                        display: flex;
                        margin: auto;
                    }
                    @media (max-width: 991.98px){
                        width: 50%;
                    }
                }
                .titre-intro{
                    width: 85%;
                    h2{
                        font-size: 2em;
                        text-align: center;
                    }
                    p{
                        width: 90%;
                        margin: auto;
                        font-size: 1em;
                    }
                }
            }

            /* Contenu texte de la page 'Automatisme' */
            
            #automatisme-contenu{
                padding: 0 20%;
                h2{
                    text-align: center;
                    font-size: 2em;
                }
                .bloc01, .bloc02{
                    .automatisme-texte{
                        font-size: 1.25em;
                        text-align: justify;
                    }
                }
                .texte-centre{
                    h3{
                        padding: 2% 0;
                        font-size: 1.25em;
                        text-align: center;
                        font-weight: 500;
                        @media (max-width: 575.98px){
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}