/* CSS de la page 'Automatisme' */

.automatisme{
    .contenu-automatisme{
        .automatisme-card{
            padding: 2% 0;
            img{
                display: flex;
                margin: auto;
                width: 20%;
                height: auto;
            }
        }
    }
}