/* CSS de la page 'Contact' */

.contact{
    width: 50%;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    background-image: url(img/img_accueil.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @media (max-width: 1365.98px){
        width: 80%;
        background-image: none;
    }

    /* CSS pour le formulaire de contact */

    .formulaire{

        /* CSS sur la phrase d'intro du formulaire */

        h1{
            padding-top: 1%;
            padding-bottom: 1%;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-weight: 800;
            font-size: 2.5em;
            @media (max-width: 575.98px){
                font-size: 1.4em;
            }
        }

        /* CSS pour le formulaire uniquement */

        .wpcf7{
            form{
                padding-top: 1%;
                padding-bottom: 1%;
                margin-bottom: 5%;
                font-family: 'Open Sans', sans-serif;
                text-align: center;
                background-color: rgba($color: #212021, $alpha: 0.6);

                /* Des balises sont intégrés sur le formulaire */

                .infos-contact{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    @media (max-width: 1365.98px){
                        flex-direction: column;
                    }

                    /* Des balises sont intégrés sur le formulaire */
                    /* Champs coordonnees */

                    .coordonnees{
                        .champ-nom, .champ-prenom, .champ-email, .champ-tel, .champ-societe, .champ-objet{
                            padding: 2% 0;
                            label{
                                color: white;
                                font-weight: 700;
                                font-size: 1em;
                                width: 75%;
                                margin: auto;
                                display: flex;
                                justify-content: center;
                                margin-bottom: 1%;
                            }
                            span{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                input{
                                    background-color: rgba($color: #e9e8e9, $alpha: 0.6);
                                    border: 1px solid #020722;
                                    font-size: 1.5em;
                                    border-radius: 20px;
                                    width: 90%;
                                }
                                input:focus{
                                    outline: none;
                                }
                                .wpcf7-not-valid-tip{
                                    font-size: 1em;
                                    font-weight: 700;
                                    color: #FF9F3B;
                                    margin-top: 1%;
                                }
                            }
                        }
                    }

                    /* Des balises sont intégrés sur le formulaire */
                    /* Champ message */

                    .champ-message{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        label{
                            color: white;
                            font-weight: 700;
                            font-size: 1em;
                            width: 75%;
                            margin: auto;
                            display: flex;
                            justify-content: center;
                            margin-bottom: 1%;
                        }
                        textarea{
                            background-color: rgba($color: #e9e8e9, $alpha: 0.6);
                            border: 1px solid #020722;
                            font-size: 1.5em;
                            border-radius: 20px;
                            width: 90%;
                            cursor: default;
                            resize: none;
                        }
                        textarea::-webkit-scrollbar{
                            background-color: #212021;
                            border-top-right-radius: 20px;
                            border-bottom-right-radius: 20px;
                            border-top: 1px solid #020722;
                            border-bottom: 1px solid #020722;
                            @media (max-width: 1365.98px){
                                display: none;
                            }
                        }
                        textarea::-webkit-scrollbar-thumb{
                            background-color: white;
                            border: 1px solid #020722;
                        }
                        textarea::-webkit-scrollbar-button:single-button:vertical:increment{
                            width: 7.5px;
                            height: 20px;
                            border-bottom-right-radius: 20px;
                            border: 1px solid #020722;
                            background-color: white;
                        }
                        textarea::-webkit-scrollbar-button:single-button:vertical:decrement{
                            width: 7.5px;
                            height: 20px;
                            border-top-right-radius: 20px;
                            border: 1px solid #020722;
                            background-color: white;
                        }
                        textarea::-webkit-resizer{
                            display: none;
                        }
                        textarea:focus{
                            outline: none;
                        }
                        .nombre-caracteres{
                            margin: 2% 0;
                            .caracteres-label{
                                width: 100%;
                            }
                            .compteur-caracteres{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                margin: 2% 0;
                                input{
                                    width: 15%;
                                    text-align: center;
                                    border: 0;
                                    padding: 0;
                                    margin: 0;
                                    background: transparent;
                                    color: white;
                                    font-weight: 700;
                                    font-size: 1em;
                                    outline: none;
                                    padding-top: 2.5px;
                                }
                                p{
                                    width: 20%;
                                    color: white;
                                    font-weight: 700;
                                    font-size: 1em;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }

                /* Des balises sont intégrés sur le formulaire */
                /* Bouton d'envoi du formulaire */

                .bouton{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5% 0;
                    input{
                        background-color: rgba($color: #e9e8e9, $alpha: 0.6);;
                        color: white;
                        border: 1px solid #020722;
                        padding: 2% 5%;
                        border-radius: 20px;
                        transition: .5s ease;
                        font-size: 1em;
                        font-weight: 700;
                        &:hover{
                            box-shadow: 0px 2px 3px 2px #020722;
                            transition: .5s ease;
                            @media (max-width: 1365.98px){
                                box-shadow: none;
                                transition: none;
                            }
                        }
                        &:focus{
                            outline: none;
                        }
                    }
                    .wpcf7-spinner{
                        display: none;
                    }
                }
                .wpcf7-response-output{
                    border-color: transparent;
                    font-size: 1em;
                    font-weight: 700;
                    color: white;
                }
            }
        }
    }
}