/* CSS du footer (pied de page) */

footer{
    background-color: #202f86;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    /* CCS des éléments du pied de page */

    ul{
        padding: 0;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media (max-width: 1365.98px){
            flex-direction: column;
        }

        /* CSS pour le bordereau du pied de page */

        li{
            list-style: none;
            padding: 1% 0%;
            p{
                margin: 0;
                color: white;
                font-family: 'Open Sans', sans-serif;
                font-size: 1em;
                font-weight: 400;
                text-align: center;
                cursor: context-menu;
                @media (max-width: 1365.98px){
                    font-size: 0.8em;
                }
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }

    /* CSS pour le cookie personnalisé */

    .user-cookie{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        width: 100%;
        color: white;
        margin: 0;
    }
}