/* CSS du footer (pied de page) */

footer{
    background-color: #202f86;
    display: flex;
    align-items: center;
    width: 100%;
    @media (max-width: 1199.98px){
        flex-direction: column;
    }

    /* CCS des éléments du pied de page */

    ul{
        padding: 0;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        @media (max-width: 1199.98px){
            flex-direction: column;
        }

        /* CSS pour le bordereau du pied de page */

        li{
            list-style: none;
            padding: 2% 0%;
            p{
                margin: 0;
                color: white;
                font-family: 'Open Sans', sans-serif;
                font-size: 1em;
                font-weight: 400;
                text-align: center;
                cursor: context-menu;
                a{
                    color: white;
                    text-decoration: none;
                    &:hover{
                        font-weight: bold;
                        @media (max-width: 1365.98px){
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
    
    /* CSS du formulaire de login responsive */

    .login{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        width: 10%;
        @media (max-width: 767.98px){
            width: 80%;
        }
        @media (min-width: 768px) AND (max-width: 1365.98px){
            width: 20%;
        }
        #adminBtn{
            background: transparent;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 0;
            cursor: pointer;
            font-size: 1em;
        }
        .admin{
            display: none;
            position: relative;
            width: 100%;
            form{
                position: absolute;
                bottom: 70px;
                right: 5px;
                background-color: #e9e8e9;
                width: 100%;
                border: 1px solid #000;
                border-radius: 0 0 10px 10px;
                @media (max-width: 1199.98px){
                    bottom: 0;
                    right: 0;
                    position: relative;
                }
            }
        }
        #admin-panel{
            color: white;
        }
    }
}