/* CSS de la page 'Informatique Industrielle' */

.informatique-industrielle{
    .contenu-informatique-industrielle{
        .informatique-industrielle-card{
            padding: 2% 0;
            img{
                display: flex;
                margin: auto;
                width: 20%;
                height: auto;
            }
        }
    }
}