/* CSS de la page 'Inscription' */

.inscription{
    font-family: 'Open Sans', sans-serif;

    /* Titre de la page */

    h2{
        font-size: 2em;
        text-align: center;
        padding: 1% 0;
    }

    /* Formulaire d'inscription au site */

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5% 0 8%;
        .name, .email{
            padding: 1% 0;
            label{
                width: 100%;
                display: flex;
                justify-content: center;
                padding-bottom: 2.5%;
                font-size: 1.5em;
            }
            input{
                width: 97%;
                display: flex;
                border: 1px solid;
            }
        }

        /* CSS sur le bouton d'envoi du formulaire */

        .submitting{
            padding: 1% 0;
            display: flex;
            justify-content: center;
            width: 100%;
            input{
                padding: 0.5% 2%;
                border: 1px solid #202F86;
                border-radius: 10px;
                background-color: #202F86;
                color: white;
                font-size: 1.5em;
                cursor: pointer;
            }
        }
    }
}