/* CSS de la page 'Maintenance/Installation' */

.maintenance_installation{
    width: 90%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;

    /* CSS pour les deux onglets de la page */

    .nav-maintenance_installation{
        padding: 10% 20%;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: space-around;
        .maintenance_installation-card{
            margin: 2% 0;
            position: relative;
            display: flex;
            flex: 0 1 300px;
            flex-direction: column;
            align-items: center;
            img{
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }

            /* CSS pour l'effet sur chaque onglet au survol */

            .maintenance_installation-hover{
                position: absolute;
                top: 0;
                background-color: rgba(0, 0, 0, 0.5);
                width: 100%;
                height: 100%;
                border-radius: 20px;
                opacity: 0;
                transition: .8s ease;
                a{
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: white;
                    p{
                        background-color: #202F86;
                        padding: 5%;
                        border-radius: 10px;
                    }
                }
                &:hover{
                    opacity: 1;
                    transition: .8s ease;
                }
                @media (max-width: 1365.98px){
                    opacity: 1;
                    transition: none;
                }
            }
        }
    }
}