/* CSS de la page 'Mentions légales' */

.mentions-legales{
    padding: 2% 5%;
    font-family: 'Open Sans', sans-serif;
    .head-mentions-legales{
        text-align: justify;
        p{
            a{
                color: black;
                font-weight: bold;
                transition: .3s ease;
                &:hover{
                    color: #202F86;
                    transition: .3s ease;
                }
            }
        }
    }
    .article02, .article03, .article04, .article05, .article06, .article07, .article08, .article09, .article10, .article11, .article12, .article13, .article14, .article15, .article16{
        .article-content{
            text-align: justify;
        }
    }
    .article04, .article05, .article07, .article08, .article09, .article11, .article13{
        ul{
            padding: 0;
            li{
                list-style: none;
                padding: 0.5% 0;
            }   
        }
    }
    .article01{
        .article-content{
            .content-site, .content-editeur, .content-hebergeur, .content-concepteur{
                p{
                    text-align: justify;
                }
            }
            .content-editeur{
                p{
                    a{
                        color: black;
                        font-weight: bold;
                        transition: .3s ease;
                        &:hover{
                            color: #202F86;
                            transition: .3s ease;
                        }
                    }
                }
            }
        }
    }
    .article08, .article13{
        .article-content{
            ul{
                li{
                    a{
                        color: black;
                            font-weight: bold;
                            transition: .3s ease;
                            &:hover{
                                color: #202F86;
                                transition: .3s ease;
                            }
                    }
                }
            }
            p{
                a{
                    color: black;
                        font-weight: bold;
                        transition: .3s ease;
                        &:hover{
                            color: #202F86;
                            transition: .3s ease;
                        }
                }
            }
        }
    }
    .article12, .article16{
        .article-content{
            p{
                a{
                    color: black;
                        font-weight: bold;
                        transition: .3s ease;
                        &:hover{
                            color: #202F86;
                            transition: .3s ease;
                        }
                }
            }
        }
    }
}