/* CSS de la page 'Qui sommes-nous ?' */

.qui-sommes-nous{
    font-family: 'Open Sans', sans-serif;
    padding: 1% 10%;
    .sommes-nous-container{

        /* Illustration */

        img{
            width: 60%;
            margin: auto;
            height: auto;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            @media (max-width: 1365.98px){
                width: 100%;
                border-radius: 25px;
                margin-top: 2%;
            }
        }

        /* Texte */

        .sommes-nous-texte{
            cursor: context-menu;
            h4{
                font-size: 1.25em;
                text-align: center;
            }
            p{
                width: 80%;
                margin: auto;
                font-size: 1.25em;
                text-align: justify;
                @media (max-width: 1365.98px){
                    width: 100%;
                    margin-bottom: 2%;
                }
            }
        }
    }
}